@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #13277c;
  --color-secondary: #a4bab7;
  --color-tertiaty: #92140c;
}

a { 
  
}

a:hover {
  @apply border-b-2 border-[#92140c];
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
